body{
    background-image: url("../images/BRR\ BRR\ PATAPIM.png");
}

.navbar .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; /* Aqui é onde você define o espaço entre os links */
}

.nav-links li {
    padding: 0 15px; /* Adiciona mais espaço interno em cada item da lista */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff6347;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 30px;
    height: 4px;
    background-color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
