+ {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-image: url("../images/Bem\ vindo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}